/* Base */

html,
body {
    background-color: #f692d0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    height: 100%;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

/* Layout */

.container {
    width: 90%;
    max-width: 75rem;
    margin: 0 auto;
}

.header {
    text-align: center;
    padding-top: 3rem;
}

.header-title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.header-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 0;
    margin: 0;
}

.header-nav a {
    text-decoration: none;
    color: #f6f0e6;
    font-weight: 600;
}

.header-nav a:hover {
    color: #f3c3e2;
}

/* Slider */

.slider {
    text-align: center;
    overflow: hidden;
    padding: 6rem 0;
}

#slide-container {
    display: block;
}

.slide {
    justify-content: center;
    display: none;
    flex-direction: column;
    gap: 2rem;
}

.slide.active {
    display: flex;
    flex-direction: column;
}

.slide-item {
    padding: 2rem;
    border: 2px solid #181716;
}

.slide-item p {
    color: #f6f0e6;
    padding-top: 0.5rem;
}

.prev-slide,
.next-slide {
    padding: 1rem 2rem;
    background-color: #181716;
    color: #f6f0e6;
    border: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.slider-button {
    margin-top: 2rem;
    justify-content: center;
    gap: 2rem;
    display: flex;
}

.prev-slide:hover,
.next-slide:hover {
    background-color: #f3c3e2;
}

/* Intro */

.intro {
    text-align: center;
    padding: 6rem 0;
}

.intro-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.intro-subtitle {
    font-size: 1.25rem;
    color: #181716;
    margin-bottom: 1rem;
}

.intro-description {
    font-size: 1rem;
}

/* Studio */

.studio {
    padding: 10rem 0;
    text-align: center;
}

.studio-title,
.portfolio-title,
.contact-title {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    text-align: center;
}

.studio-description {
    font-size: 1rem;
    color: #181716;
}

/* Porfolio */

.portfolio {
    padding: 10rem 0;
}

.portfolio-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.portfolio-item {
    background-color: #f6f0e6;
    padding: 1.5rem;
    text-align: center;
    border: 2px solid #181716;
    margin: 0 auto;
    max-width: 20rem;
}

.portfolio-item p {
    padding-top: 0.5rem;
}

.portfolio-item-img {
    width: 100%;
    height: auto;
    transform: scale(0.8);
}

/* Contact */

.contact {
    padding: 10rem 0;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    padding: 1rem;
    border: 2px solid #181716;
    border-radius: 0.25rem;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form button {
    padding: 1rem;
    border: none;
    background-color: #f3c3e2;
    color: #f6f0e6;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.contact-form button:hover {
    transform: scale(1.1);
    background-color: #f3c3e2;
}

/* Footer */

.footer {
    background-color: #181716;
    color: #f692d0;
    padding: 1rem 0;
    text-align: center;
}

/* Media Queries */

@media screen and (min-width: 40em) {
    .header-title {
        font-size: 6rem;
    }

    .slide.active {
        flex-direction: row;
    }
}

@media screen and (min-width: 64em) {
    .header-title {
        font-size: 9rem;
    }
    .portfolio-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
